extends layout/layout.pug

append body
  body(class='background')


block content
  
  //- Campo input
  - var DivInputFullAtr = ['mb-2', 'pb-2'];
  .jumbotron
    h2.display-5 Login
    .dropdown-divider
    -if(message !== null)
      div(class="alert alert-warning" role="alert")= message
      
    form(action='/login' method='post')
      .form-row
        .input-group(class=DivInputFullAtr)
          span.input-group-text(id='basic-username'): i(class='fa fa-user')
          input(type='text' class='form-control' name='InputUserName' placeholder=username aria-label='Username' aria-describedby='basic-username' autofocus)
            
        .input-group(class=DivInputFullAtr)
          span.input-group-text(id='basic-password'): i(class='fa fa-key')
          input(type='password' class='form-control' name='InputPassword' placeholder=password aria-label='Password' aria-describedby='basic-password')
        button(type='submit' class='btn btn-outline-primary btn-block')= submit
