extends layout/layout.pug

block content
  
  //- atributos do container principal
  - var divAtr = {};
  - divAtr = ['container', 'my-3', 'py-3', 'col-md-8'];

  //- Campo de texto ocupa toda as 12 colunas
  - var divFormFullAtr = {};
  - divFormFullAtr.class = ['form-group', 'col-md-6'];
  
  //- Campo de texto ocupa 6 colunas (meia tela)
  - var divFormHalfAtr = {};
  - divFormHalfAtr.class = ['form-group', 'col-md-6'];
  
  //- Campo input
  - var DivInputFullAtr = {};
  - DivInputFullAtr.class = ['input-group', 'justify-content-md-center', 'mb-2', 'pb-2', 'col-md-12'];
  
  //- Campo inputGroup
  - var DivInputGrpFullAtr = {};
  - DivInputGrpFullAtr.class = ['input-group-prepend', 'justify-content-md-center', 'col-12'];
  
  //- Atributos do container check
  - var divCheckAtr = {};
  - divAtr.class = ['form-check'];
  
  div(class= divAtr)
    h1(class='display-4') Login
    form(action='/done' method='post')
      div(class='form-row')
        //-label(for='InputName')= username
        div(class=DivInputFullAtr.class)
          div(class=DivInputGrpFullAtr.class)
            span(class='input-group-text' id='basic-username'): i(class='fa fa-user')
            input(type='text' class='form-control' name='InputUserName' placeholder=username aria-label='Username' aria-describedby='basic-username')
            
        //-label(for='InputName')= password
        div(class=DivInputFullAtr.class)
          div(class=DivInputGrpFullAtr.class)
            span(class='input-group-text' id='basic-password'): i(class='fa fa-key')
            input(type='password' class='form-control' name='InputPassword' placeholder=password aria-label='Password' aria-describedby='basic-password')
        button(type='submit' class='btn btn-outline-primary btn-block')= submit
