extends ../layout/layout.pug


block content
  
  //-Não esta sendo usado
  h1(class='display-4') Gerar Código
  p(class='lead')= token
  p(class='lead')= username
  p(class='lead')= email
  p(class='lead')= password
  p(class='lead')= code
  
