extends ../layout/layout.pug

append body
  body(class='background')
    
block content

  //- atributos do container principal
  - var divAtr = ['d-flex', 'justify-content-center', 'my-3', 'py-3'];
  - var center = ['d-flex', 'justify-content-center'];
  
  
  .jumbotron
    .row
      .col
        a(href='dashboard')
          div(class=center)
            i(class="far fa-user-circle fa-3x")
          h5.text-center.text-capitalize #{username}
      .col
        a(href='wallet')
          div(class=center)
            i(class="fas fa-wallet fa-3x")
          h5.text-center #{wallets.length}
      .col
        div(class=center)
          i(class="fas fa-exchange-alt fa-3x")
        h5.text-center #{exchange}
      .col
        div(class=center)
          i.text-center(class="fab fa-bitcoin fa-3x")
        h5.text-center #{balance}

    .dropdown-divider
        
    
    .row(class= divAtr)
      a(style="display:block" href="dashboard/update")
        if (score)
          if (score > 50)
            div.progress-circle(data-progress=score.toFixed(0) data-text='Holder')
          else
            div.progress-circle(data-progress=score.toFixed(0) data-text='Conservador')
        else
          div.progress-circle(data-progress=rate_avg data-text='Analisando')
        
  
      
      
