extends ../layout/layout.pug


block content

  //- atributos do container principal
  - var divAtr = ['d-flex', 'justify-content-center', 'my-3', 'py-3'];
  - var center = ['d-flex', 'justify-content-center'];
  
  
  div(class= divAtr)
    .row
      .col
        a(href='dashboard')
          div(class=center)
            i(class="far fa-user-circle fa-3x")
          h5.text-center.text-capitalize #{username}
      .col
        a(href='wallet')
          div(class=center)
            i(class="fas fa-wallet fa-3x")
          h5.text-center #{wallets.length}
      .col
        div(class=center)
          i(class="fas fa-exchange-alt fa-3x")
        h5.text-center 0
      .col
        div(class=center)
          i.text-center(class="fab fa-bitcoin fa-3x")
        h5.text-center 0.00000000

  .dropdown-divider
      
  div(class= divAtr)
    .row
      div.progress-circle(data-progress=30 data-text='Moderado')
  
      
      
