//- navbar.pug

- var navAttrib = {};
- navAttrib.class = ['navbar', 'sticky-top', 'bg-dark', 'fixed-top-md', 'navbar-expand-md'];

- var aAttrib = {};
- aAttrib.class = ['nav-link','text-warning'];

nav(class=navAttrib.class)

  a(
  class='navbar-brand text-warning'
  href='./'
  ):  i(
      class='fas fa-draw-polygon fa-2x'
      )


  button(
  class='navbar-toggler'
  type='button'
  data-toggle='collapse'
  data-target='#navbarToggler'
  aria-controls='navbarToggler'
  aria-expanded='false'
  aria-label='Toggle navigation'
  )
    span(class='fas fa-bars text-warning')

  div(
  class='collapse navbar-collapse'
  id='navbarToggler'
  )
    ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
      li(class='nav-item')
        a(class=aAttrib.class href='/login') Register
      li(class='nav-item')
        a(class=aAttrib.class href='#') Code

    a(
    class=aAttrib.class
    href='/register'
    role='button'
    ) Register 
      span(class="far fa-address-card")
    
    a(
    class=aAttrib.class
    href='/login'
    role='button'
    ) Login 
      span(class="fas fa-sign-in-alt")
