//- navbar.pug

- var navAttrib = {};
- navAttrib.class = ['navbar', 'sticky-top', 'bg-dark', 'fixed-top-md', 'navbar-expand-md'];

- var aAttrib = {};
- aAttrib.class = ['nav-link','text-warning'];

nav(class=navAttrib.class)

  a(
  class='navbar-brand text-warning'
  href='/'
  ):  i(
      class='fas fa-draw-polygon fa-2x'
      )


  button(
  class='navbar-toggler'
  type='button'
  data-toggle='collapse'
  data-target='#navbarToggler'
  aria-controls='navbarToggler'
  aria-expanded='false'
  aria-label='Toggle navigation'
  )
    span(class='fas fa-bars text-warning')

  div(
  class='collapse navbar-collapse'
  id='navbarToggler'
  )
      if (loggedIn)
        ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
          li(class='nav-item')
            a(class=aAttrib.class href='/user/dashboard')= username
              i(class="far fa-address-card")
          li(class='nav-item')
            a(class=aAttrib.class href='#') Gerar
        
        a(
        class=aAttrib.class
        href='/user/config'
        role='button'
        ) Opções 
          i(class="fas fa-cogs")
        
        a(
        class=aAttrib.class
        href='/logout'
        role='button'
        ) Logout 
          i(class="fas fa-sign-out-alt")
      else
        ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
          li(class='nav-item')
            a(class=aAttrib.class href='/register') Registrar
          li(class='nav-item')
            a(class=aAttrib.class href='#') Código

        a(
        class=aAttrib.class
        href='/register'
        role='button'
        ) Register 
          i(class="far fa-address-card")
        
        a(
        class=aAttrib.class
        href='/login'
        role='button'
        ) Login 
          i(class="fas fa-sign-in-alt")
