//- navbar.pug

- var navAttrib = ['navbar', 'sticky-top', 'bg-dark', 'fixed-top-md', 'navbar-expand-md'];

- var aAttrib = ['nav-link','text-warning'];

nav(class=navAttrib)
  
  if (loggedIn)
    a(
    class='navbar-brand text-warning'
    href='/user/dashboard'
    ):  i(class='fas fa-draw-polygon fa-2x')
  else
    a(
    class='navbar-brand text-warning'
    href='/'
    ):  i(class='fas fa-draw-polygon fa-2x')

  button(
  class='navbar-toggler'
  type='button'
  data-toggle='collapse'
  data-target='#navbarToggler'
  aria-controls='navbarToggler'
  aria-expanded='false'
  aria-label='Toggle navigation'
  )
    span(class='fas fa-bars text-warning')

  div(
  class='collapse navbar-collapse'
  id='navbarToggler'
  )
      if (loggedIn)
        ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
          li(class='nav-item dropdown')
            a(class=aAttrib href='#' id="navbarDropdown" role='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{username} 
              ii(class="far fa-user-circle")
            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href='/user/config') Opções 
                i(class='fas fa-cogs')
              .dropdown-divider
              a.dropdown-item(href='/logout') Sair 
                i(class='fas fa-sign-out-alt')
          li.nav-item
            a(class=aAttrib href='/user/code') Código 
              i(class="fas fa-key")
          li.nav-item
            a(class=aAttrib href='/user/wallet') Carteira 
              i(class='fas fa-wallet')

        
      else
        ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
          li.nav-item
            a(class=aAttrib href='/login' role='button') Entrar 
              i(class='fas fa-sign-in-alt')
          li.nav-item
            a(class=aAttrib href='/register' role='button') Cadastre-se 
              i(class='far fa-address-card')
        
        ul(class='navbar-nav pt-3')
          form.form-inline(action='/profile' method='post')
            input(class='form-control' type='search' name='InputCode' placeholder='Digite um Código' aria-label='Search')
            button(type='submit' class='btn btn-outline-warning') Buscar
